* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#wordList {
    border: solid black 1px;
}

.button {
    border: solid black 1px;
    border-radius: 0;
    background: lightgray;
    color: black;
    height: 11px;
    width: 11px;
    font-size: 9px;
    padding: 0;
    outline: none;
    margin-bottom: -1px;
}

.button.currentState {
    background: black;
    color: white;
}

.button, .button:active:focus {
    background-size: 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
}

.button:active:not(.currentState) {
    background: gray;
    color: white;
}

.word {
    padding: 0 5px;
    border-bottom: solid black 1px;
}

.word:last-child {
    border-bottom: none;
}

.selected {
    background: black;
    color: white;
}