* {
    box-sizing: border-box;
    user-select: none;
    font-family: "Times New Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen {
    display: none;
    width: 600px;
}

#alphabetizationTaskContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;   
}

h1 {
    text-align: center;
}

h2 {
    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#wordList {
    border: solid black 1px;
}

.button {
    border: solid black 1px;
    border-radius: 0;
    background: lightgray;
    color: black;
    font-size: 9px;
    padding: 0;
    outline: none;
    margin-bottom: -1px;
}

.button:last-child {
    margin-bottom: 0px !important;
}

.button.currentState {
    background: black;
    color: white;
}

.button:active:not(.currentState) {
    background: gray;
    color: white;
}

.word {
    padding: 0 5px;
    border-bottom: solid black 1px;
}

.word:last-child {
    border-bottom: none;
}

.selected {
    background: black;
    color: white;
}

#alphabetizationKey {
    margin-left: 20px;
    border: solid black 1px;
    padding: 10px;
}

dt {
    float: left;
}

#keyboardShortcutsAvailable, #keyboardShortcutsNotAvailable {
    display: none;
}

em {
    font-style: italic;
    font-weight: bold;
    background: yellow;
}

.likertContainer {
    display: flex;
    background: lightgray;
    padding: 10px;
    margin-bottom: 50px;
}

#survey label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#export {
    display: block;
}